.error-wrapper{
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #274c5e;
}

.Container{
  text-align: center;
  position: relative;
}

.MainTitle{
  margin-top: 20px;
  display: block;
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
}

.MainDescription{
  max-width: 50%;
  font-size: 1.2rem;
  font-weight: lighter;
}

.MainGraphic{
  position: relative;
}

.Cog{
  width: 10rem;
  height: 10rem;
  fill: $color-primary-light;
  transition: easeInOutQuint();
  animation: CogAnimation 5s infinite;
}

@keyframes CogAnimation {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}