*{
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/background.png) no-repeat fixed;
    background-size: cover;
}

.align-center{
    text-align: center;
}

.root h1{
    font-size: 1.8em;
    margin: 15px 0 25px;
}

.labels{
    display: flex;
    justify-content: space-between;
}

.labels h2{
    box-shadow: 0 0 10px #000;
    font-size: 1.2em;
    padding: 5px;
    margin-bottom: 20px;
}

.label-result{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: none;
    background-color: #CFCFCF;
}

.label-black, .label-white, .label-result{
    border-radius: 10px;
}

.label-black{
    opacity: 0;
    background-color: black;
    color: white;
}

.label-white{
    opacity: 0;
    background-color: white;
    color: black;
}

.layout{
    padding: 20px;
    background-color: #DBAA40;
    width: 405px;
    margin: 0 auto;
    box-shadow: 0 0 20px #000;
}

.board{
    position: relative;
}

.board::after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    clear: left;
}

.board div{
    float: left;
    width: 26px;
    margin-left: -1px;
    margin-bottom: -1px;
    border: 1px solid #000;
    height: 26px;
}

.black, .white{
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 0;
    box-shadow: 2px 2px 8px #000;
}

.black{
    background: radial-gradient(#777, #555, #222, #000);
}

.white{
    background: radial-gradient(#bbb, #ddd, #eee, #fff);
}

.block:hover {
    cursor: pointer;
}

.restart {
    display: block;
    margin: 15px auto 0;
    transition: .2s;
    padding: 10px;
    border-radius: 10px;
    background: #C79B3B;
    border: 0;
    color: #fff;
}

.restart:hover {
    cursor: pointer;
    background: #8e7761
}

.restart:active {
    background: #5F5041
}

.restart:focus{
    outline: none;
}