<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center my-3">EPAM FE Lab #8</h3>
      <form (ngSubmit)="onSubmit()" #appComponent="ngForm">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Topic</th>
            <th class="text-center">Date</th>
            <th class="text-center">Lecturer</th>
            <th class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of data.data; let idx=index">
            <td class="text-center">{{idx+1}}</td>
            <td *ngIf="displayRow != idx">{{(item.topic)}}</td>
            <td *ngIf="displayRow != idx" class="text-center">{{item.date | date:"'M/d/yy"}}</td>
            <td *ngIf="displayRow != idx">{{item.lecturer}}</td>

            <td *ngIf="displayRow == idx" class="pt-0">
              <label for="newTopic"></label>
              <input id="newTopic" [ngModelOptions]="{standalone: true}" [(ngModel)] = "item.topic"
                     value="{{(item.topic)}}" class="form-control" autofocus type="text">
            </td>
            <td *ngIf="displayRow == idx" class="pt-0">
              <label for="newDate"></label>
              <input id="newDate" [ngModelOptions]="{standalone: true}" [(ngModel)] = "item.date"
                     value="{{(item.date)}}" class="form-control" type="date">
            </td>
            <td *ngIf="displayRow == idx" class="pt-0">
              <label for="newLecturer"></label>
              <input id="newLecturer" [ngModelOptions]="{standalone: true}" [(ngModel)] = "item.lecturer"
                     value="{{(item.lecturer)}}" class="form-control" type="text">
            </td>
            <td>
              <div class="row d-flex justify-content-center mt-2">
                <i *ngIf="displayRow != idx" (click)="temp(idx); assign(item)"
                   class="material-icons pointer pr-1">edit</i>
                <i *ngIf="displayRow == idx" (click) = "edit(item.topic,item.date,item.lecturer)"
                   class="material-icons pointer pr-1">save</i>
                <i *ngIf="displayRow != idx" (click)="remove(item)" class="material-icons pointer pl-1">delete</i>
                <i *ngIf="displayRow == idx" (click)= "clear(item)" class="material-icons pointer pl-1">close</i>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="py-0">
              <div class="form-group">
                <label for="topic"></label>
                <input type="text" [(ngModel)]="model.topic" [ngModelOptions]="{standalone: true}"
                       class="form-control" id="topic" required placeholder="Topic">
              </div>
            </td>
            <td class="py-0">
              <div class="form-group">
                <label for="date"></label>
                <input type="date" [(ngModel)]="model.date" [ngModelOptions]="{standalone: true}"
                       class="form-control" id="date" required>
              </div>
            </td>
            <td class="py-0">
              <div class="form-group">
                <label for="lecturer"></label>
                <input type="text" [(ngModel)]="model.lecturer" [ngModelOptions]="{standalone: true}"
                       class="form-control" id="lecturer" required placeholder="Lecturer">
              </div>
            </td>
            <td class="pt-3 text-center">
              <button type="submit" class="btn btn-primary">Add</button>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
