<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                           integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                           crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body ng-app="app" ng-controller="controller">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark top">
        <div class="container">
            <a class="navbar-brand" href="#">Programming Languages</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-8" >
                <div class="row">
                    <div class="col-lg-12" ng-repeat="item in (posts | filter: {title: search})">
                        <div class="d-flex align-items-center mt-3">
                            <div class="pr-2">
                                <h2 class="editable" ng-model="item.title" ng-attr-contenteditable="{{editmode}}"></h2>
                            </div>
                            <h2>
                                <small class="text-muted">
                                    <a class="text-info cursor"
                                       ng-repeat="category in item.categories">{{category + ' '}}
                                    </a>
                                </small>
                            </h2>
                        </div>
                        <hr>
                        <p class="text-secondary">Posted on {{item.date}}</p>
                        <img class="img-fluid rounded" src="{{item.url}}" alt="{{item.title}}">
                        <div class="editable my-3" ng-model="item.description"
                             ng-attr-contenteditable="{{editmode}}"></div>
                        <button id="editorBtn" class="btn-warning" type="button" ng-click="editmode = !editmode">
                            {{editmode ? 'Save' : 'Edit'}}
                        </button>
                        <button class="btn-danger" ng-click="setPostToDelete($index)" data-toggle="modal"
                                data-target="#deletePostModal">Delete
                        </button>
                        <hr>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="row">
                    <div class="col-md-6 col-lg-12">
                        <div class="card mt-4">
                            <h5 class="card-header">Sorting</h5>
                            <div class="card-body">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" ng-model="value" type="radio" name="sorting"
                                           id="byDate" value="date" ng-change="sortByDate(value)">
                                    <label class="form-check-label" for="byDate">By Date</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" ng-model="value" type="radio" name="sorting"
                                           id="byTitle" value="title" ng-change="sortByTitle(value)">
                                    <label class="form-check-label" for="byTitle">By Title</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-12">
                        <div class="card mt-4">
                            <h5 class="card-header">Categories</h5>
                            <div class="card-body">
                                <div class="input-group">
                                    <input type="text" ng-model="search" class="form-control"
                                           placeholder="Search by title...">
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 mt-3 text-center justify-content-center">
                                        <a class="list-unstyled mb-0" ng-repeat="item in categories">
                                            <span class="badge badge-pill badge-info"
                                                  ng-click="applyFilter(item)">{{item}}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row text-center">
                                    <div class="col-12">
                                        <button type="button" class="btn btn-primary text-center"
                                                ng-click="clearFields()" data-toggle="modal"
                                                data-target="#addPostModal">New Post
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModalTitlle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">ADD NEW POST</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row required">
                                <label for="title" class="col-sm-2 col-form-label">Title:</label>
                                <div class="offset-sm-1 col-sm-9">
                                    <input ng-required ng-model="inputTitle" type="text" class="form-control"
                                           id="title" placeholder="Title">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label for="categories" class="col-sm-2 col-form-label">Categories:</label>
                                <div class="offset-sm-1 col-sm-9">
                                    <input ng-model="inputCategories" type="text" class="form-control" id="categories"
                                           placeholder="Categories">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label for="description" class="col-sm-2 col-form-label">Description:</label>
                                <div class="offset-sm-1 col-sm-9">
                                    <input ng-model="inputDescription" type="text" class="form-control"
                                           id="description" placeholder="Description">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="photo" class="col-sm-2 col-form-label">Photo:</label>
                                <div class="offset-sm-1 col-sm-9">
                                    <input ng-model="inputPhoto" type="file" class="form-control" id="photo">
                                </div>
                            </div>
                            <div  ng-model="error" ng-show="error" class="alert alert-danger" role="alert">
                                <strong>Error!</strong> Fill all required fields!
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary"
                                    ng-click="addNewPost(inputTitle, inputCategories, inputDescription, inputPhoto)">Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog"
                 aria-labelledby="deletePostModalTitlle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle2">Are you sure?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="deletePost()">Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <scroll-on-click></scroll-on-click>

        </div>
    </div>

    <footer class="mt-3 py-3 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">EPAM Lab 2018</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="lib/angular.min.js"></script>
    <script src="src/data.js"></script>
    <script src="src/app.js"></script>
</body>
</html>