*{
    margin: 0;
    padding: 0;}

/** general **/
.container{
    width: 100%;  
    font-family: 'Open Sans', sans-serif;}

.layout{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 90px 0 90px;
    padding-right: 7%;
    padding-left: 7%;}

.white{
    color: #fff;}

.flex-row{    
    display: flex;}

.grid{
    display: grid;}

.align-center{
    text-align: center;}

.weight-normal{
    font-weight: normal;}

.weight-bold{
    font-weight: bold;}

.button{
    background-color: rgba(0,0,0,0.5);
    font-size: 0.9em;
    transition: 1s;}

.button:hover{
    background-color: rgba(240,240,240,0.6);
    color:#000;
    cursor: pointer;}


/** header **/
header{
    background: url(../img/apples.jpg) top center no-repeat;
    background-size: cover;
    padding-bottom: 100px; 
    background-attachment: fixed;}

header .flex-row{    
    display: flex;
    justify-content: space-between;}

header p, header a{
    font-size: 0.9em;}

header p:first-child{
    letter-spacing: 3px;}

header nav{
    margin-right: 30px;}

header a{   
    text-decoration: none;
    padding: 0 5px 10px 5px;
    margin: 0 25px;}

header a:hover{
    border-bottom: 2px solid #A3B0BC;}

header h1{
    margin-top: 180px;
    font-size: 2.8em;
    letter-spacing: 10px;
    position: relative;
    left: 15px;}

header h1 span:first-child{
    font-family: 'Fanwood Text', serif;
    font-size: 2em;}

header h1 span:last-child{
    font-size: 0.5em;
    vertical-align: super;}

header .layout>p{
    padding-bottom: 160px;}

header .button{
    display: block;
    margin: 0 auto;
    width: 180px;
    padding: 18px 22px;
    border: 2px solid #fff;
    font-size: 0.9em;}

header .button:hover{
    border: 2px solid #999;}


/** main **/
/** top **/
.top .flex-row{
    justify-content: space-between;}

.top{
    padding: 80px 0 120px 0;}

.top p, .top .flex-row div{
    width: 95%;}

.top .flex-row div h2{
    font-size: 1.5em;
    text-align: left;}

.top .flex-row div h2:first-child{
    margin-bottom: 5px;}

.top p:last-child{
    font-size: 0.9em;
    text-align: justify;}


/** middle **/
.middle{
    background-color: #F3F3F3;
    padding-bottom: 180px;}

.middle .layout>h2{
    font-size: 1.55em;
    margin: 80px 0;}

/** background-images **/

.middle .grid-top{
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2em;
    padding-bottom: 2em;}

.middle .grid-bottom {
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2em;}

.middle .box{
    height: 300px;
    border: 1px solid #fff;
    background-size: cover !important;
    position: relative;}

.middle .img1{
    background: url(../img/sample.jpg) no-repeat center;}

.middle .img2{
    background: url(../img/sample2.jpg) no-repeat center;}

.middle .img3{
    background: url(../img/sample2.jpg) no-repeat center;}

.middle .img4{
    background: url(../img/sample3.jpg) no-repeat center;}

.middle .box p{
    font-size: 1em;
    position: absolute;
    text-shadow: 2px 2px 5px black;
    bottom: 25px;
    left: 30px;
    z-index: 1;}

.middle .box .likes{
    position: absolute;
    padding: 8px 13px;
    background-color: #625F60;
    right: 20px;
    top: 20px;
    border: 2px solid #fff;
    z-index: 1;
    transition: 1s;}

.middle .box .likes span{
    font-size: 0.9em;
    transition: 1s;}

.middle .hovering{
    width: 100%;
    position: relative;
    height: 300px;
    left: 0;
    background: rgba(0,0,0,0.4);
    transition: 1s;
    opacity: 0;}

.middle .box:hover .hovering{
    opacity: 1;}

.middle .box:hover .likes{
    border: 2px solid #555;
    background-color: #fff;
    color:#000;}

.middle .box:hover .likes span{
    color:#000;} 



/** src images **/
/*
.middle .grid-top{
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2em;
    padding-bottom: 2em;}

.middle .grid-bottom{
    grid-column-gap: 2em;
    grid-template-columns: 1fr 2fr;}

main .grid img{
    height: 300px;
    width: 100%;
    border: 1px solid #fff;}

.middle .box{
    display: block;
    position: relative;}

.middle .box .likes{
    background-color: #625F60;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 8px 12px;
    border: 2px solid #fff;
    z-index: 1;
    transition: 1.5s;}

.middle .box div span{
    font-size: 0.9em;}

.middle .box p{
    font-size: 1em;
    text-decoration: none;
    position: absolute;
    margin-top: -55px;
    left: 30px;
    text-shadow: 2px 2px 5px black;
    z-index: 1;}

.middle .hovering{
    width: 100%;
    height: 300px;
    position: absolute;
    padding: 0;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.4);
    transition: 1s;
    opacity: 0;}

.middle .box:hover .hovering{
    opacity: 1;}

.middle .box:hover .likes{
    border: 2px solid #555;
    background-color: #fff;
    color:#000;}

.middle .box:hover .likes span{
    color:#000;} 

*/

.middle .newsletter{
    padding: 85px 60px 60px 60px;
    margin-top: 80px;
    background-color: #fff;}

.middle .newsletter .outer{
     grid-template-columns: 50% 50%;}

.middle .newsletter .inner{
    margin-top: -15px;
    grid-template-columns: 70% 30%;}

.middle .newsletter p{
    font-size: 1.3em;}

.middle .newsletter input{
    margin-left: 5px;
    background-color: #F3F3F3; 
    height: 58px;
    font-size: 0.8em;
    padding: 0 20px;
    border: 1px solid #4E5051;
    color: #000;}

.middle .newsletter .button{
    transition: 1s;
    position: relative;
    left: -2px;
    background-color: #343638;
    border: none;}

.middle .newsletter .button:hover{
    background-color: #BBBBBB;
    border: 1px solid #000;
    border-left: none;}


/** bottom **/
.bottom{
    padding: 90px 0;}

.bottom .flex-row{
    justify-content: space-between;}

.bottom .flex-row div:not(:last-child){
    padding-right: 20px;
    max-width: 200px;}

.bottom .flex-row div:last-child{
    max-width: 260px;}

.bottom h3{
    margin-bottom: 20px;}

.bottom a{
    display: block;
    text-decoration: none;}

.bottom a:hover{
    text-decoration: underline;}

.bottom p, .bottom a{
    color: #A4A4A4;
    font-weight: bold;
    font-size: 0.85em;
    padding-bottom: 8px;}

.bottom p{
    line-height: 1.8em;}

.bottom .tweet p:nth-child(2){
    font-style: italic;
    line-height: 1.6em;}

.bottom .tweet p:nth-child(3){
    color: #DBDBDB;
    margin-top: 10px;}

.bottom .bigger{
    font-size: 0.88em;}

.bottom .flex-row div:last-child p{
    padding-bottom: 30px;}

.bottom .grid{
    grid-template-columns: 60% 35%;}

.bottom input{
    background-color: #F3F3F3; 
    height: 25px;
    font-size: 0.8em;
    padding: 10px 10px 10px 15px;
    border: 1px solid #343638;
    color: #757588;
    font-style: italic;}

.bottom .button{
    position: relative;
    left: -1px;
    font-size: 0.8em;
    border: none;
    background-color: #343638;}

.bottom .button:hover{
    border: 1px solid #000;
    border-left: none;
    background-color: #BBBBBB;}


/** footer **/
footer{
    padding-bottom: 20px;}

footer hr{
    border: none;     
    background-color: #F0F0F0; 
    height: 2px;}

footer .flex-row{
    margin-top: 30px;
    justify-content: space-between;}

footer p, footer a{
    font-size: 0.85em;}

footer p{
    color: #9E9E9E;}

footer a{
    margin-left: 40px;
    text-decoration: none;
    padding: 0 0 5px 5px;
    color: #000;
    font-weight:bold;}

footer a:hover{
    border-bottom: 2px solid #555;}