*{
    margin: 0;
    padding: 0;}

.container{
    width: 100%;  
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;}

.layout{
    max-width: 90%;
    margin: 0 auto;
    padding: 3% 5% 0 5%;}

.white{
    color: #fff;}

.flex{    
    display: flex;}

.grid{
    display: grid;}

.align-center{
    text-align: center;}

.weight-normal{
    font-weight: normal;}

.weight-bold{
    font-weight: bold;}

.button{
    background-color: rgba(0,0,0,0.5);
    font-size: 0.9em;
    transition: 1s;}

.button:hover{
    background-color: rgba(240,240,240,0.6);
    color:#000;
    cursor: pointer;}

a{
    text-decoration: none;}

input:focus{
    outline: none;
    box-shadow: inset 0 0 2px #000;}


/** header **/
header{
    background: url(../img/apples.jpg) center no-repeat;
    background-size: cover;
    padding-bottom: 7%;
    background-attachment: fixed;}

header .flex{    
    display: flex;
    justify-content: space-between;}

header p, header a{
    font-size: 1em;}

header p:first-child{
    letter-spacing: 3px;}

header nav{
    margin: 0 5% 0 0;}

header a{   
    padding: 0 5px 10px 5px;
    margin: 0 1.7em;}

header a:hover{
    border-bottom: 2px solid #A3B0BC;}

header h1{
    margin-top: 15%;
    font-size: 3em;
    letter-spacing: 10px;
    margin-left: 2.5%;}

header h1 span:first-child{
    font-family: 'Fanwood Text', serif;
    font-size: 2em;}

header h1 span:last-child{
    font-size: 0.5em;
    vertical-align: super;}

header .layout>p{
    padding-bottom: 13%;}

header .button{
    display: block;
    margin: 0 auto;
    width: 10%;
    padding: 1.5% 4%;
    border: 2px solid #fff;
    font-size: 1em;}

header .button:hover{
    border: 2px solid #999;}


/** main **/
/** top **/
.top .flex{
    justify-content: space-between;}

.top .item{
   align-self: flex-start;}

.top{
    padding: 7% 0 10% 0;}

.top p, .top .flex div{
    width: 95%;}

.top .flex div p{
    font-size: 1.8em;
    text-align: left;}

.top .flex div p:first-child{
    margin-bottom: 2%;}

.top p:last-child{
    font-size: 1em;
    text-align: justify;}


/** middle **/
.middle{
    background-color: #F3F3F3;
    padding-bottom: 16%;}

.middle .layout>h2{
    font-size: 1.7em;
    margin: 8% 0;}


.middle .grid-top{
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2em;
    padding-bottom: 2em;}

.middle .grid-bottom {
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2em;}

.middle .box{
    height: 22vw;
    width: 100%;
    border: 1px solid #fff;
    background-size: cover !important;
    position: relative;
    transition: 0.5s;}

.middle .img1{
    background: url(../img/sample.jpg) no-repeat center;}

.middle .img2{
    background: url(../img/sample2.jpg) no-repeat center;}

.middle .img3{
    background: url(../img/sample2.jpg) no-repeat center;}

.middle .img4{
    background: url(../img/sample3.jpg) no-repeat center;}

.middle .box:after{
  content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 60%, rgba(0, 0, 0, 0.4) 100%);}

.middle .box p{
    font-size: 1.3em;
    position: absolute;
    text-shadow: 2px 2px 1px black;
    bottom:10%;
    left: 4%;
    z-index: 1;}

.middle .img2 p, .middle .img3 p{
    left: 7.5%;}

.middle .box .likes{
    position: absolute;
    padding: 1.3% 2%;
    background-color: #625F60;
    right:3%;
    top:6%;
    border: 2px solid #fff;
    z-index: 1;
    transition: 1s;}

.middle .img2 .likes, .middle .img3 .likes{
    padding: 2.3% 4%;
    right: 6%;}

.middle .box .likes span{
    font-size: 1em;
    transition: 1s;}

.middle .box:hover{
    border: 1px solid #333;
    -webkit-filter: contrast(130%);}

.middle .box:hover .likes{
    border: 2px solid #666;
    background-color: #ddd;}

.middle .box:hover .likes span{
    color:#000;} 

.middle .newsletter{
    padding: 7% 8% 6% 8%;
    margin-top: 8%;
    background-color: #fff;}

.middle .newsletter .outer{
     grid-template-columns: 40% 60%;}

.middle .newsletter .inner{
    grid-template-columns: 70% 30%;}

.middle .newsletter .item{
    align-self:center;}

.middle .newsletter p{
    font-size: 1.75em;}

.middle .newsletter input{
    margin-left: 5px;
    background-color: #F3F3F3; 
    height: 3.4em;
    font-size: 1.1em;
    padding: 1% 5%;
    padding-left: 2em;
    border: 1px solid #4E5051;
    color: #000;}

.middle .newsletter input::placeholder{
    color: #000;}

.middle .newsletter .button{
    font-size: 1.1em;
    position: relative;
    left: -3px;
    background-color: #343638;
    border: none;}

.middle .newsletter .button:hover{
    background-color: #BBBBBB;
    border: 1px solid #000;}


/** bottom **/
.bottom{
    padding: 7% 0;}

.bottom .flex{
    justify-content: space-between;}

.bottom .flex>div:not(:last-child){
    padding-right: 20px;
    width: 18%;}

.bottom .flex>div:last-child{
    width: 25%;}

.bottom h3{
    margin-bottom: 9%;
    font-size: 1.3em;}

.bottom a{
    display: block;}

.bottom a:hover{
    text-decoration: underline;
    color:#888;}

.bottom p, .bottom a{
    color: #A4A4A4;
    font-weight: lighter;
    font-size: 1em;
    padding-bottom: 3%;}

.bottom p{
    line-height: 1.8em;}

.bottom .tweet p:nth-child(2){
    font-style: italic;
    line-height: 1.5em;}

.bottom .tweet p:nth-child(3){
    color: #DBDBDB;
    margin-top: 2%;}

.bottom .bigger{
    font-size: 1.1em;
    margin-top: -4%;}

.bottom .flex div:last-child p{
    padding-bottom: 10%;}

.bottom .grid{
    grid-template-columns: 60% 35%;}

.bottom input{
    background-color: #F3F3F3; 
    height: 3.2em;
    padding: 2% 10%;
    font-size: 1em;
    border: 1px solid #343638;
    color: #757588;
    font-style: italic;}

.bottom .button{
    position: relative;
    left: -0.1em;
    font-size: 1em;
    border: 1px solid #343638;
    background-color: #343634;}

.bottom .button:hover{
    border: 1px solid #000;
    background-color: #BBBBBB;}


/** footer **/
footer{
    padding-bottom: 2%;}

footer hr{
    border: none;     
    background-color: #F0F0F0; 
    height: 2px;}

footer .flex{
    margin-top: 3%;
    justify-content: space-between;}

footer p, footer a{
    font-size: 1em;}

footer p{
    color: #9E9E9E;}

footer a{
    margin-left: 2em;
    padding: 0 5px 5px 5px;
    color: #000;}

footer a:hover{
    color: #555;}